files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo `date`
      echo "${MAINTENANCE_PROVIDER}"
      if [ "${MAINTENANCE_PROVIDER}" = all ]; then
        echo 'match'
      else
        echo 'not match'
      fi

container_commands:
  set_up:
    command: /home/ec2-user/setup.sh
